<div class="shogun-root" data-shogun-id="62fa6e630e077200cf62479f" data-shogun-site-id="4cd723ad-c6ef-4a6d-8c52-e5e1bb957e00" data-shogun-section-id="62fa6e630e077200cf62479f" data-shogun-section-version-id="62fa6e990e077200d36249cc" data-shogun-platform-type="shopify" data-shogun-variant-id="62fa6e990e077200d36249db" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62fa6e990e077200d36249db.css" />


<div id="s-b8ab7e86-35ee-4c0b-a5df-28cec91e26b3"  class="shg-c  shg-align-left">
  <div>
  <ul class="shogun-tabs shogun-rounded" role="tablist" data-vthemes='{"default":"shogun-rounded"}'>
    
      
        <li
          class="shogun-tab shogun-tab-active"
          id="tab-573030cc-5fb9-46ac-ad58-20ed5df58f19"
          role="tab"
          aria-controls="panel-573030cc-5fb9-46ac-ad58-20ed5df58f19"
          aria-selected="true"
        >
      
        <div class="shogun-tab-box">
          <span class="shogun-tab-title">
            Design notes
          </span>
        </div>
        
          <div class="shogun-tab-border" />
        
      </li>
    
      
        <li
          class="shogun-tab"
          id="tab-167b10d9-a367-480e-b716-cfd5f7486081"
          role="tab"
          aria-controls="panel-167b10d9-a367-480e-b716-cfd5f7486081"
          aria-selected="false"
        >
      
        <div class="shogun-tab-box">
          <span class="shogun-tab-title">
            Delivery & Returns
          </span>
        </div>
        
      </li>
    
  </ul>
  <div class="shogun-tabs-body shogun-rounded">
    
      
        <div
          class="shogun-tab-content shogun-tab-active"
          id="panel-573030cc-5fb9-46ac-ad58-20ed5df58f19"
          role="tabpanel"
          aria-labelledby="tab-573030cc-5fb9-46ac-ad58-20ed5df58f19"
        >
      
      
      </div>
    
      
        <div
          class="shogun-tab-content"
          id="panel-167b10d9-a367-480e-b716-cfd5f7486081"
          role="tabpanel"
          aria-labelledby="tab-167b10d9-a367-480e-b716-cfd5f7486081"
        >
      
      
      </div>
    
  </div>
</div>

</div>

<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-7f628dceb5acb70fd1f18ecf28a0de42f58180c1.js" defer></script>

</div>

{% schema %}
  {
    "name": "Tabs",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62fa6e630e077200cf62479f&shop=neptune22.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Tabs",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
