<!-- /templates/page.liquid -->
<iframe src="https://9d91-182-156-76-106.in.ngrok.io/?embedded=1&hmac=b02b4499f0a36f2cc5e5d9f8e4bd92ae4e43cace39a282c38f9e183f7d29a8e5&host=YWRtaW4uc2hvcGlmeS5jb20vc3RvcmUvbmVwdHVuZS1kZXY&locale=en&session=31b24790dd7fd5bb2e6f338e84f21c025933f49a1bb7c36faa82d8d2390ba403&shop=neptune-dev.myshopify.com&timestamp=1679644411" style="width:100%;height:600px;"></iframe>

<h1 class="small--text-center">{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
</div>
