<!-- /templates/page.liquid -->
<iframe src="https://www.neptune.com/umbraco/api/Store/GetGoogleMapLibraryApi" style="width:100%;height:600px;"></iframe>

<h1 class="small--text-center">{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
</div>
