<!-- /templates/page.liquid -->
<iframe src="https://admin.shopify.com/store/neptune-dev/apps/store-location-app-dev"></iframe>

<h1 class="small--text-center">{{ page.testpage }}</h1>

<div class="rte">
  {{ page.testpage }}
</div>
